$text-dark: rgb(17, 17, 17);
$text-dark-hover: #7c7c7c;
$text-light: white;
$white: white;
$black: black;
$gray: #c7c7c7;
$dark-gray: #393939;
$background-color: #f3f3f3;
$color1: #f2071b;
$color2: #1797a6;
$color3: #106973;
$color4: #29c7d9;
$color5: #f2cc0c;
