.header {
  padding: 1rem;
  background: linear-gradient(to top, #f3f3f3, #d8d8d8);
  h1 {
    margin: 0;
    font-weight: 200;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 0 18px;
    // margin-left: 1.8rem;
  }
}
